@page "/editcustomer"
@page "/editcustomer/{id:int}"
@attribute [StreamRendering]

@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject CustomersClient CustomersClient

<PageTitle>@title</PageTitle>
<h3>@title</h3>

@if (customer is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm 
                Model="@customer" 
                FormName="editCustomer" 
                OnValidSubmit="HandleSubmitAsync"
                Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="customer.Name" class="form-control" />
                    <ValidationMessage For="() => customer.Name" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="customer.Email" class="form-control" />
                    <ValidationMessage For="() => customer.Email" />
                </div>
                <div class="mb-3">
                    <label for="dateOfBirth" class="form-label">Date of Birth:</label>
                    <InputDate id="dateOfBirth" @bind-Value="customer.DateOfBirth" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <InputText id="address" @bind-Value="customer.Address" class="form-control" />
                    <ValidationMessage For="() => customer.Address" />
                </div>                    
                <button type="submit" class="btn btn-primary">Save</button>
                <a role="button" class="btn btn-secondary" href="/customers">Cancel</a>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int? Id {get; set;}

    [SupplyParameterFromForm]
    private CustomerDetails? customer { get; set; }
    
    private string title = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        if (customer is not null)
        {
            return;
        }

        if (Id is not null)
        {
            customer = await CustomersClient.GetCustomerAsync(Id.Value);
            title = $"Edit {customer.Name}";
        }
        else
        {
            customer = new()
            {
                Name = string.Empty,
                Email = string.Empty,
                DateOfBirth = DateOnly.FromDateTime(DateTime.UtcNow),
                Address = string.Empty
            };
            
            title = "New Customer";
        }
    }
        private async Task HandleSubmitAsync()
    {
        ArgumentNullException.ThrowIfNull(customer);

        if (Id is null)
        {
            await CustomersClient.AddCustomerAsync(customer);
        }
        else
        {
            customer.Id = Id.Value;
            await CustomersClient.UpdateCustomerAsync(customer);
        }
        
        NavigationManager.NavigateTo("/customers");
    }
}
